<div class="w3-col l6 w3-center" style="padding: 30px 16px;">
<nav id="mainnav">
<ul class="w3-navbar w3-large w3-left-align">
  <li class="w3-hide-medium w3-hide-large"><label class="w3-hover-grey w3-btn" for="mainnav-boto"><i class="fa fa-bars"></i> Menú</label>
  </li>
  <input id="mainnav-boto" class="boto-menu" type="checkbox">

  <li class="hide-small {% if page.url == '/' %}w3-deep-orange{% endif %}"><a href="/">Inici</a></li>    
  <li class="hide-small {% if page.url == '/projecte.html' %}w3-deep-orange{% endif %}"><a href="/projecte.html">El projecte</a></li>
  <li class="hide-small  {% if page.url == '/serveis.html' %}w3-deep-orange{% endif %} w3-dropdown-hover"><a href="/serveis.html">Serveis<i class="w3-hide-small fa fa-caret-down"></i></a>
    <ul class="w3-hide-small w3-dropdown-content w3-navbar w3-border vertical">
      <li><a href="/serveis.html#material">Material divulgatiu</a></li>
      <li><a href="/cataleg_tallers.pdf">Activitats per a les escoles</a></li>
      <li><a href="/cataleg_ampa.pdf">Activitats per a les AMPA</a></li>
    </ul>
  </li>
  <li class="hide-small {% if page.url == '/blog.html' %}w3-deep-orange{% endif %}"><a href="/blog.html">Blog</a></li>
  <li class="hide-small {% if page.url == '/contacte.html' %}w3-deep-orange{% endif %}"><a href="/contacte.html">Contacte</a></li>
</ul>
</nav>
</div>
