<div class="w3-content w3-section w3-padding">

  
<div class="w3-card-4">
<header class="w3-container w3-light-grey">
  <h3>Núria Torras Melenchón</h3>
</header>

<div class="w3-container">
  <img src="/assets/img/Perfil2.jpg" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:125px; margin:5px;">
  <p>Enginyera química amb àmplia experiència en la divulgació de la ciència i la tecnologia en joves preuniversitaris. Doctora per la Universitat Politècnica de Catalunya en Recursos Naturals i Medi Ambient, tesi doctoral sobre metodologies singulars per a l'aprenentatge en l'aprofitament dels recursos de la natura.</p>
  <br>
</div>
<a href="mailto:nuria@tocsdeciencia.cat" class="w3-btn-block w3-dark-grey w3-padding-8"><span class="w3-hide-small">Contacteu: </span>nuria@tocsdeciencia.cat</a>
</div>

</div>
