#mainnav, #mainnav .w3-dropdown-content {
  font-family:'Open Sans';
  font-weight: 700;
  text-transform: uppercase;
  color:rgb(100,100,100);
}
#mainnav .w3-dropdown-content.vertical {width: 200px;}

@media (max-width:600px){
  .hide-small { display:none;} 
  input.boto-menu:checked ~ li.hide-small { display: block; }
  #mainnav label { cursor: pointer;}
}

input.boto-menu {display: none;}

ul.dropdown {
    display: none;
}

.dropdown-activa:hover .dropdown {
    display: block;
}

header img.logo {max-width: 100%; max-width: 100%;}

.mySlides {display:none}
.mySlides img {max-height: 400px; width:100%; object-fit: cover;}
.w3-display-left, .w3-display-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}


footer {
  background-image: url('/assets/img/peu.png');
  background-repeat: repeat-x;
  background-size:contain;
}

footer .fa-envelope {padding-left: 1em;}
