<!doctype html>
<html lang="ca">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} - Tocs de ciència</title>

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" id="redux-google-fonts-mobius-css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" type="text/css" media="all">

    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    
    <link rel="stylesheet" type="text/css" href="/assets/css/estil.css">  

{% if page.estil %}
    <style>
    {{ page.estil }}
    </style>
{% endif %}
    
  </head>
  <body>

<header class="w3-container w3-row w3-border-bottom">
<div class="w3-col l6">
  <a href="index.html">
    <img src="/assets/img/logo.png" alt="Tocs de ciència" title="Tocs de ciència" class="logo"/>
  </a>
</div>


  {% include navigation.html %}

</header>


{{ content }}


<footer class="w3-container w3-light-grey">
  <p class="w3-margin-0">
  <a class="twitter-follow-button"
  href="https://twitter.com/tocsdeciencia"
  data-size="large" data-show-count="false">
    Follow @tocsdeciencia</a>
  </p>
  <div class="w3-row">
    <p class="w3-text-shadow  w3-threequarter">Copyright 2016-2021  <i class="fa fa-envelope"></i> <a href="mailto:info@tocsdeciencia.cat">info@tocsdeciencia.cat</a></p>    
<!--    <p class=" w3-quarter w3-right-align"><a href="avislegal">Avís legal</a></p> -->
  </div>
</footer>

</body>
</html>
