---
layout: default
---
<section class="w3-container w3-section" style="max-width: 600px; margin-left: auto; margin-right: auto;">
<h1>{{ page.title }}</h1>
<p>{{ page.date | date_to_string }} - {{ page.author }}</p>

{{ content }}


<p>Etiquetes: {{ page.tags | join: " " }}</p>
</section>